
/.git
/target
pkg
/node_modules
/dist
*.local

Dockerfile
.dockerignore
.env
.gitattributes
.gitignore
README.md
devlog.md

/data
/spc.db
/spc.sled
/certs
.rustc_info.json
.rustdoc_fingerprint.json
/snapshots


spc
