<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" >
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" charset="utf-8" src="/static/script.js"></script>
  <link rel='manifest' href='/static/manifest.json'>
  <meta name="google-site-verification" content="{{page_data.site_verification}}" />
  {%- block head -%}
  <title>{{ page_data.title }}</title>
  <meta name="description" content="{{page_data.site_slogan}}">
  <link rel="apple-touch-icon" href="/static/icon/icon-192.png">
  <meta name="application-name" content="{{page_data.site_name}}">
  <meta name="theme-color" content="#f1f3f2">
  <meta name="apple-mobile-web-app-title" content="{{page_data.site_name}}">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  {%- endblock head -%}
</head>
<body>
  {%- block body -%}
  <header class="header" id="body-header">
  {%- block header -%}
    <nav class="nav-menu" id="body-nav-menu">
      {%- block nav -%}
      <div class="site-logo">
        <a href="/explore" id="logo-nav-link">{{page_data.site_name}}</a>
      </div>
      {%- block navMain -%}
      <div class="main-menu" id="nav-main-menu">
        {%- block mainNav -%}{%- endblock mainNav -%}
      </div>
      {%- endblock navMain -%}
      <div class="right-menu">
        {% match page_data.claim %} {% when Some with (val) %}
        <a href="/user/{{val.uname}}">
          <img src="/static/avatars/{{val.uname}}.png" alt="{{val.uname}}">
        </a>
        {% else %}
        <div class="buttons">
          <a href="/signin" class="auth-btn">Sign in</a>
        </div>
        {% endmatch %}
      </div>
      {%- endblock nav -%}
    </nav>
  {%- endblock header -%}
  </header>
  <div class="main-view" id="main-container">
    {%- block mainview -%}{%- endblock mainview -%}
  </div>
  {%- block foot -%}
  <footer class="footer" id="footer">
    <div class="bottom">
      ©{{page_data.site_name}} | 
      <a href="/about" target="_blank">About</a> | 
      <a href="javascript:void(0);" onclick="toggleDark()" id="if-dark">☀️</a>
    </div>
  </footer>
  {%- endblock foot -%}
  {%- endblock body -%}
  {%- block ftscript -%}{%- endblock ftscript -%}
  <script type="application/javascript">
    // toggle dark mode
    function toggleDark() {
      let darkMode = localStorage.getItem("theme");
      darkMode === "dark" ? disableDarkMode() : enableDarkMode();
    }
    function enableDarkMode() {
      document.body.classList.add("dark-mode");
      localStorage.setItem("theme", "dark");
    }
    function disableDarkMode() {
      document.body.classList.remove("dark-mode");
      localStorage.setItem("theme", "light");
    }
    document.addEventListener('DOMContentLoaded', function() {
      // toggle dark mode
      let darkMode = localStorage.getItem("theme");
      if (darkMode === "dark") enableDarkMode();
      if (!darkMode) {
        let mq = window.matchMedia("(prefers-color-scheme: dark)");
        if (mq.matches) enableDarkMode();
      }
      // to visitors 
      window.console.info(
        "%cWelcome to build together: https://mdsilo.com .",
        "background-color: #ddd; color: green;"
      );
    });
  </script>
</body>
</html>
