{% extends "_base.html" %} 

{% block mainview %}
<div class="main-page">
  <div class="main-box content-view">
    <h1 class="title">{{article.title}}</h1>
    <div class="meta-bar">
      <span class="meta-tag">{{article.content|calc_read_min}} min read</span> &nbsp;·&nbsp;
      <a href="/user/{{article.uname}}" class="meta-link">{{article.uname}}</a> &nbsp;·&nbsp;
      <span class="meta-tag">{{article.created_at|ts_date("")}}</span> &nbsp;·&nbsp; 
      <span class="meta-tag">{{pageview|num_unit}} 👁️</span> &nbsp;&nbsp;
      {%- if is_author -%}
      <a href="/article/{{article.id}}/collaboration" class="meta-link">Edit</a>&nbsp;&nbsp;
      {#<a href="/article/{{article.id}}/delete" class="meta-link">Delete</a>#}
      {%- endif -%}
    </div>
    <div class="content-box">
      {{article.content}}
    </div>
  </div>
  <div class="aside-box" id="view-side"></div>
</div>
{% endblock mainview %}

{%- block ftscript -%}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{%- endblock ftscript -%}
