{% extends "_base.html" %} 

{% block mainview %}
<div class="main-page">
  <div class="main-box" id="feed-reader-main">
    <p>{{ current_channel|host }}</p>
    {%- for f in feeds -%}
    <section class="item-card">
      <div class="item-sum">
        <div class="meta-bar">
          <span class="meta-tag">
            {{ f.channel_link|host }} · {{ f.published|ts_date("") }}
          </span>
        </div>
        <div class="item-info">
          <a class="link-title" href="{{f.feed_url}}" target="_blank">{{ f.title }}</a>
          <div class="item-intro">{{ f.content|truncate(512)|inner_text }}</div>
        </div>
      </div>
    </section>
    {%- endfor -%}
  </div>
  <div class="aside-box" id="feed-reader-aside">
    <a class="toolbtn" href="/channel_preload">Add Feed</a><br>
    {%- for c in channels -%}
    <a class="link-title" href="/feed_reader?tab={{c.channel_link}}">
      {{ c.channel_title }}
    </a>&nbsp;&nbsp;
    <a class="meta-tag" href="/unsubscribe/{{c.id}}">X</a>
    {%- endfor -%}
  </div>
</div>
{% endblock mainview %}
