{% extends "_base.html" %} 

{% block mainview %}
<div class="main-page">
  <div class="main-box" id="feed-reader-main">
    {% match current_channel %}
      {% when Some with (val) %}
      <div class="meta-bar">
        <span class="title">{{ val.channel_title }}</span>  
        <a class="hidden-btn" href="/unsubscribe/{{val.id}}">X</a>  
        <a class="meta-tag" href="/feed_reader">All</a> 
        <a class="toolbtn meta-tag" href="/refresh_scribled_feeds">Refresh Feed</a>
        <a class="toolbtn" href="/channel_preload">Add Feed</a>
      </div>
      {% when None %}
      <div class="meta-bar">
        <a class="toolbtn meta-tag" href="/refresh_scribled_feeds">Refresh Feed</a>
        <a class="toolbtn" href="/channel_preload">Add Feed</a>
      </div>
    {% endmatch %}
    {%- for f in feeds -%}
    <section class="item-card">
      <div class="item-sum">
        <div class="meta-bar">
          <span class="meta-tag">
            <a class="link-title" href="/feed_reader?tab={{f.channel_link}}">
              {{ f.channel_link|host }}
            </a> · {{ f.published|ts_date("") }}
          </span>
        </div>
        <div class="item-info">
          <a class="link-title" href="{{f.feed_url}}" target="_blank">{{ f.title }}</a>
          <div class="item-intro">{{ f.content|truncate(512)|inner_text }}</div>
        </div>
      </div>
    </section>
    {%- endfor -%}
  </div>
  <div class="aside-box" id="feed-reader-aside"></div>
</div>
{% endblock mainview %}
