<div class="form-box" id="new-piece-box">
  <form id="new-piece" action="/new_piece" method="POST">
    <textarea 
      name="content" 
      class="form-input form-input-content" 
      rows="2" 
      required 
      maxlength="10000" 
      placeholder="Jot down here..."
    ></textarea>
    <div class="toolbar">
      <div class="group">
        <a href="/new" target="_blank" class="meta-link meta-tag" title="New writing">
          {% include "icons/write.svg" %}
        </a>
        <a href="/upload" target="_blank" class="meta-link meta-tag" title="Upload">
          {% include "icons/upload.svg" %}
        </a>
      </div>
      <button type="submit" form="new-piece" class="toolbtn active-tab link-title">Send</button>
    </div>
  </form>
</div>
