{% extends "_base.html" %}

{%- block mainview -%}
<div class="main-page form-page" id="auth-form-page">
  <div class="main-box form-box auth-form-box">
    <h1>Sign Up</h1><br>
    <form id="signup" action="/signup" method="post">
      <input 
        name="username"
        type="text" 
        pattern="^\D\w*" 
        class="form-input" 
        id="username" 
        title="Username: not start with number, 1 - 64 chars"
        placeholder="👤 Username" 
        minlength="1" 
        maxlength="64"
        required
      />
      <input 
        name="password"
        type="password" 
        class="form-input" 
        id="auth-password" 
        title="password, at least 7 chars"
        placeholder="🔑 Password: at least 7 chars"
        minlength="7"
        required
      />
      <input 
        name="password2"
        type="password" 
        class="form-input" 
        id="auth-password" 
        title="password, at least 7 chars"
        placeholder="🔑 Confirm Password"
        minlength="7"
        required
      />
      <input type="hidden" id="captcha_id" name="captcha_id" value="{{captcha_id}}" />
      <div>
        <img src="data:image/png;base64,{{captcha_img}}" alt="captcha" class="captcha" />
      </div>
      <input 
        name="captcha_val" 
        class="form-input"  
        placeholder="👾 CAPTCHA: case sensitive" 
        required
      />
      <p>I agree to the <a href="/about" target="_blank">terms and conditions</a></p>
      <button type="submit" form="signup" class="toolbtn submit-btn">Sign Up</button>
      <p>Already have an account? <a href="/signin">Sign in</a></p>
    </form>
  </div>
</div>
{%- endblock mainview -%}
