body {
  overscroll-behavior: none;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.dark-mode .gutter {
  filter: invert(90%);
}

/* Hack: Fix number rendering in abcjs audio controller. */
.abcjs-midi-tempo {
  color: black;
}

.abcjs-highlight {
  fill: #0071c3;
}

.abcjs-cursor {
  stroke: rgba(75, 159, 162, 0.4);
  stroke-width: 24px;
  transform: translateX(6px);
}